In [15]:
import pandas as pd
import datadotworld as ddw

In [16]:
pd.set_option('display.max_rows', 40)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('max_colwidth', 70)

### Load the customer info data file from data.world for data cleaning

In [17]:
# specify location of dataset on data.world
dataset = 'texasbex/test-444'
# download data
customer_data = ddw.load_dataset(dataset, force_update=True)
# load data into Python as Pandas dataframe
customer_df = customer_data.dataframes['members']

In [18]:
print("dataframe shape: ", customer_df.shape)
# view first 3 rows
customer_df.head(3)

dataframe shape:  (10000, 6)

   member_number    fname    lname birth_date                        email                                                   address
0   352411461997   Adella  Denesik 1994-01-04   adella.denesik@hotmail.com           Apt. 074 036 Bethel Points, Scotville, WY 66853
1    33460197329  Trenton  Gerlach 1946-02-01  trenton.gerlach@hotmail.com  Apt. 306 4527 Strosin Viaduct, Bonnieview, PA 40750-9316
2   833518416467   Connor     Hane 1976-03-12        connor.hane@yahoo.com             02996 Stark Route, Baileyhaven, WA 21427-0896

In [19]:
# parse state abbreviation from address column text
customer_df['state_abbr'] = customer_df.address.str.extract(r'((?:\s)[A-Z]{2}(?:\s))')
# parse zip code from address column text
customer_df['zip_code'] = customer_df.address.str.extract( r'(?:\s)([\d]{5})(?:\s|-|\b)' )

In [20]:
# look at first 3 rows
customer_df.head(3)

   member_number    fname    lname birth_date                        email                                                   address state_abbr zip_code
0   352411461997   Adella  Denesik 1994-01-04   adella.denesik@hotmail.com           Apt. 074 036 Bethel Points, Scotville, WY 66853        WY     66853
1    33460197329  Trenton  Gerlach 1946-02-01  trenton.gerlach@hotmail.com  Apt. 306 4527 Strosin Viaduct, Bonnieview, PA 40750-9316        PA     40750
2   833518416467   Connor     Hane 1976-03-12        connor.hane@yahoo.com             02996 Stark Route, Baileyhaven, WA 21427-0896        WA     21427

### upload the transformed dataframe into our project in data.world

In [21]:
# specify location to upload to (in this case, it's a project)
dataset = 'texasbex/test-444'

# upload the dataframe as a csv using the data.world Python library
with ddw.open_remote_file(dataset, 'member_data_parsed.csv', mode='w') as f:
    customer_df.to_csv(f, index=False)